.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
  margin-top: 25px;
}

.screen-header__icons span {
  position: relative;
  margin-left: 25px;
}

.screen-header__notification {
  position: absolute;
  /*absolute는 가장 가까운 relative를 가진 부모 기준으로 움직임*/
  left: 74px;
  bottom: 27px;
}

.screen-header__notification2 {
  position: absolute;
  /*absolute는 가장 가까운 relative를 가진 부모 기준으로 움직임*/
  left: 124px;
  bottom: 24px;
}
